<a href="https://colab.research.google.com/github/emanuelpedrozo/ingestao_catalogacao_dados/blob/main/INFERENCIA_TIPO_DADOS_OLIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CABEÇALHO
* Nome do aluno: Emanuel Godinho Pedrozo
* Matrícula: 1415956 
* Professor: Victor Sales Silva
* Disciplina: PREPARAÇÃO E INGESTÃO DE DADOS
* Atividade: Exercício 3 - Coleta, tratamento e normalização de dados / Parte 1

LEITURA DOS DOS DADOS OLIST DO AZURE

In [ ]:
import pandas as pd

VARIÁVEIS COM A URL DOS DADOS

In [ ]:
url_olist_dataset = "https://storageaccount1415956.blob.core.windows.net/datalake-aulas/raw/olist/olist_order_reviews_dataset/olist_order_reviews_dataset.csv"
url_olist_customers_dataset = "https://storageaccount1415956.blob.core.windows.net/datalake-aulas/raw/olist/olist_customers_dataset/olist_customers_dataset.csv"
url_olist_orders_reviews_dataset = "https://storageaccount1415956.blob.core.windows.net/datalake-aulas/raw/olist/olist_orders_dataset/olist_orders_dataset.csv"

LEITURA DOS DADOS

In [ ]:
df_url_olist_dataset = pd.read_csv(url_olist_dataset)
df_url_olist_customers_dataset = pd.read_csv(url_olist_customers_dataset)
df_url_olist_orders_reviews_dataset = pd.read_csv(url_olist_orders_reviews_dataset)

VISUALIZACAO DOS DADOS

In [ ]:
#df_url_olist_customers_dataset.head()
df_url_olist_dataset.head()
#df_url_olist_orders_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [ ]:
df_url_olist_dataset.info()

AJUSTAR OS SCHEMAS SE NECESSÁRIO

In [ ]:
df_url_olist_orders_reviews_dataset['order_id'] = df_url_olist_orders_reviews_dataset['order_id'].astype('string')
df_url_olist_orders_reviews_dataset['customer_id'] = df_url_olist_orders_reviews_dataset['customer_id'].astype('string')
df_url_olist_orders_reviews_dataset['order_status'] = df_url_olist_orders_reviews_dataset['order_status'].astype('string')
df_url_olist_orders_reviews_dataset['order_purchase_timestamp'] = df_url_olist_orders_reviews_dataset['order_purchase_timestamp'].astype('datetime64')
df_url_olist_orders_reviews_dataset['order_approved_at'] = df_url_olist_orders_reviews_dataset['order_approved_at'].astype('datetime64')
df_url_olist_orders_reviews_dataset['order_delivered_carrier_date'] = df_url_olist_orders_reviews_dataset['order_delivered_carrier_date'].astype('datetime64')
df_url_olist_orders_reviews_dataset['order_delivered_customer_date'] = df_url_olist_orders_reviews_dataset['order_delivered_customer_date'].astype('datetime64')
df_url_olist_orders_reviews_dataset['order_estimated_delivery_date'] = df_url_olist_orders_reviews_dataset['order_estimated_delivery_date'].astype('datetime64')

In [ ]:
df_url_olist_customers_dataset['customer_id'] = df_url_olist_customers_dataset['customer_id'].astype('string')
df_url_olist_customers_dataset['customer_unique_id'] = df_url_olist_customers_dataset['customer_unique_id'].astype('string')
df_url_olist_customers_dataset['customer_zip_code_prefix'] = df_url_olist_customers_dataset['customer_zip_code_prefix'].astype('string')
df_url_olist_customers_dataset['customer_city'] = df_url_olist_customers_dataset['customer_city'].astype('string')
df_url_olist_customers_dataset['customer_state'] = df_url_olist_customers_dataset['customer_state'].astype('string')

In [ ]:
df_url_olist_dataset['review_id'] = df_url_olist_dataset['review_id'].astype('string')
df_url_olist_dataset['order_id'] = df_url_olist_dataset['order_id'].astype('string')
df_url_olist_dataset['review_score'] = df_url_olist_dataset['review_score'].astype('int64')
df_url_olist_dataset['review_comment_title'] = df_url_olist_dataset['review_comment_title'].astype('string')
df_url_olist_dataset['review_comment_message'] = df_url_olist_dataset['review_comment_message'].astype('string')
df_url_olist_dataset['review_creation_date'] = df_url_olist_dataset['review_creation_date'].astype('datetime64')
df_url_olist_dataset['review_answer_timestamp'] = df_url_olist_dataset['review_answer_timestamp'].astype('datetime64')

In [ ]:
df_url_olist_orders_reviews_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  string
 1   customer_id                    99441 non-null  string
 2   order_status                   99441 non-null  string
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), string(3)
memory usage: 6.1 MB